.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(182, 176, 169, 0.5);
    width: 100%;
    height: 100%;
}

.mainContent {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 75%;
    max-width: 275px;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.mainContent::-webkit-scrollbar {
    display: none;
}

.menuItem {
    color: #222;
    padding: 14px 18px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    transition: background 0.2s, color 0.2s;
    outline: none;
}
.menuItem:hover,
.menuItem:focus {
    background: #f9f6f2;
    color: #444d44;
}

.menuItem:last-child {
    border-bottom: none;
}