.item {
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 80%;
  height: 90%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.10);
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.3rem;
  color: #2c292b;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.actions {
  padding: 1rem;
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #1a2920;
  border: 1px solid #77002e;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: background 0.2s;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

.actions span {
  font-size: 1rem;
  color: #77002e;
  font-weight: bold;
}