.mainDiv {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #444d44;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background-color: #f9f6f2;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.mainSpan {
  background: transparent;
  color: #444d44;
  text-align: center;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mainDiv:hover,
.mainDiv:focus {
  background-color: #444d44;
  border-color: #777777;
}

@media screen and (max-width: 768px) {
  .mainDiv {
    height: 40px;
    width: 40px;
    font-size: 24px;
  }
}