body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  background: #f9f6f2;
  color: #222;
}

a {
  color: #1a2920;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover,
a:active {
  color: #a50e48;
}